<ion-header>
  <ion-toolbar>
      
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
          </ion-buttons>
    <ion-title class="titu">Dicas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


    <ion-card class="card">
        <ion-card-header>
            <ion-card-title>1° Separe os seus resíduos por categoria.</ion-card-title>
        </ion-card-header>
       
        <img src="assets/Descarte-sustentável-1.png" />
        
        
        <ion-card-content align="justify">
            É preciso separar em casa três tipos de resíduos: lixo orgânico, 
            lixo material não reciclável e lixo material reciclável. 
            Separe também os resíduos orgânicos dos secos. E sempre utilize sacos biodegradáveis.
        </ion-card-content>
      </ion-card>

      <ion-card class="card">
          <ion-card-header>
            
              <ion-card-title>2° Encaminhe as garrafas pet’s para centros de reciclagem, gerando emprego e renda.</ion-card-title>
              
            </ion-card-header>

          <img src="assets/Descarte-sustentável-2.png" />
          
          <ion-card-content align="justify">
             localize no nosso map:
          </ion-card-content>
        </ion-card>

        
        <ion-card class="card">
            <ion-card-header>
              
                <ion-card-title>3° Recicle as latinhas
                  </ion-card-title>
                
              </ion-card-header>
            <img src="assets/Descarte-sustentável-3.png" />
            
            <ion-card-content align="justify">
                Reciclar as latinhas, além de gerar emprego e renda, evita a extração de mais minério e economiza energia.
            </ion-card-content>
          </ion-card>


          <ion-card class="card">

              <ion-card-header>
                
                  <ion-card-title>4° Leve a própria sacola!
                    </ion-card-title>
                  
                </ion-card-header>

              <img src="assets/Descarte-sustentável-4.png" />
              
              <ion-card-content align="justify">
                  Sempre que fizer compras, leve a própria sacola. Ela diminui o 
                  uso de sacolas plásticas. O plástico, se descartado de forma 
                  incorreta, pode levar até 100 anos para se decompor na natureza.
              </ion-card-content>
            </ion-card>
  

            <ion-card class="card">
                <ion-card-header>
                  
                    <ion-card-title>5° Separe o óleo de cozinha
  
                      </ion-card-title>
                    
                  </ion-card-header>

                <img src="assets/Descarte-sustentável-5.png" />
               
                <ion-card-content align="justify">
                    Óleo de cozinha usado também é reciclável. 
                    Algumas pessoas, ou entidades, transformam o óleo em sabão.
                     Uma única lata de 1 litro de óleo usado, despejada na pia, além de entupir o encanamento, pode contaminar 
                    até 18 mil litros d’água, quase dois caminhões pipa. Existem empresas que coletam este resíduo de forma gratuita.
                </ion-card-content>
              </ion-card>


              <ion-card class="card">
                  <ion-card-header>
                    
                      <ion-card-title>6° Evite produtos com embalagens
                        </ion-card-title>
                      
                    </ion-card-header>
                  <img src="assets/Descarte-sustentável-6.png" />
                  
                  <ion-card-content align="justify">
                      Se possível, sempre optar por comprar produtos sem embalagens. 
                      Pois todas elas só servem para cumular mais lixo.
                  </ion-card-content>
                </ion-card>

                <ion-card class="card">
                    <ion-card-header>
                      
                        <ion-card-title>7° Recicle o papel
                          </ion-card-title>
                        
                      </ion-card-header>
                    <img src="assets/Descarte-sustentável-7.png" />
                    
                    <ion-card-content align="justify">
                        O papel é um dos itens mais volumosos no lixo doméstico. Separa-los, 
                        rasgá-los em pedaços e empilhar, além de diminuir o volume, ajuda na hora de enviar para reciclagem.
                    </ion-card-content>
                  </ion-card>

                  
                  <ion-card class="card"> 
                      <ion-card-header>
                        
                          <ion-card-title>8° Encaminhe para a reciclagem o seu lixo eletrônico
                            </ion-card-title>
                          
                        </ion-card-header>
                      <img src="assets/Descarte-sustentável-8.png" />
                     
                      <ion-card-content align="justify">
                          Baterias de telefones celulares geram lixo tóxico. Por isso, uma alternativa ao descarte
                           deste material no lixo de casa, é entregar as baterias velhas em pontos de reciclagem de eletrônicos.
                      </ion-card-content>
                    </ion-card>

                    
                    <ion-card class="card">
                        <ion-card-header>
                          
                            <ion-card-title>9° Entre em contato com a cooperativa mais próxima
                              </ion-card-title>
                            
                          </ion-card-header>
                        <img src="assets/Descarte-sustentável-9.png" />
                        
                        <ion-card-content align="justify">
                            Se não for possível fazer o transporte do material reciclável, é possível
                             fazer contato diretamente  com as cooperativas de catadores, eles podem 
                             fazer a coleta para você. Outra possibilidade é ficar atento aos dias de
                              coleta feita nas ruas, pois os catadores sempre acompanham o calendário
                               e passam horas antes nas vias programadas. Manter os resíduos separados
                                facilita o recolhimento por parte dos catadores e preserva aqueles embalados para descarte.
                        </ion-card-content>
                      </ion-card>

                      
                      <ion-card class="card">
                          <ion-card-header>
                            
                              <ion-card-title>10° Pense antes de comprar!
                                </ion-card-title>
                              
                            </ion-card-header>
                          <img src="assets/Descarte-sustentável-10.png" />
                          
                          <ion-card-content align="justify">
                              Antes de comprar qualquer produto, pense no ciclo de vida deste e se a empresa faz logística 
                              reversa (se realiza o descarte ou recicla da forma correta), veja também se o produto é reciclável.


                          </ion-card-content>
                        </ion-card>
        


</ion-content>

