<ion-content padding>


  <ion-button class="cima" color="clear">
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
          </ion-buttons>
        </ion-button>
       




  
    <ion-grid>
        <ion-row aling-intems-center>
          <ion-col>
                <ion-button class="but" color="success" (click)="mapa()">
                    Rotas
                        <ion-icon  mode="ios" class="grande" name="map"></ion-icon>
                      </ion-button> 
          </ion-col>
          <ion-col>
                <ion-button class="but" color="success" (click)="dicas()">
                    Dicas
                        <ion-icon mode="ios" class="grande" name="bulb"></ion-icon>
                      </ion-button> 
          </ion-col>
        </ion-row>
      </ion-grid>
      






     
      <ion-button  class= "fim" mode="ios" color="success" (click)= "TelaCadastro()">FAÇA SUA DENÚNCIA     
            <ion-icon name="camera"></ion-icon>  
      </ion-button>  


</ion-content>



